<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repaso-hijob">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]</h2>
    <ul>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
      <li>[[textList]]</li>
    </ul>
  </template>

  <script>
    /**
     * `repaso-hijob`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepasoHijob extends Polymer.Element {
      static get is() { return 'repaso-hijob'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Soy hijo b'
          },
          textList: {
            type: String,
            value: 'Soy una lista'
          }
        };
      }
    }

    window.customElements.define(RepasoHijob.is, RepasoHijob);
  </script>
</dom-module>
